@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700&display=swap');
@import 'vars';

* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    margin-bottom: 100px;
}

.gallery {
    .entry-container {
        
        margin-top: 80px;
        padding: 0;
        // overflow: hidden;
        
        &:nth-child(2n) {
            flex-direction: row-reverse !important;

            .image-wrap {
                &:hover {
                    box-shadow: -10px 0 10px rgba(#000, .5);
                }
            }

            @include sm-screen() {
                flex-direction: column !important;
            }
        }

        @include sm-screen() {
            margin: 0;
        }

        .image-wrap {
            min-width: 300px;
            width: 300px;
            height: 300px;
            background: #000;
            z-index: 420;
            transition: all .5s ease;

            &:hover {
                transform: scale(1.2);
                opacity: 1;
                box-shadow: 10px 0 10px rgba(#000, .5);
            }

            .entry-image {
                width: 100%;
                height: 100%;

                transition: all .5s ease;
                
                &:hover {
                    opacity: 1;
                }

            }

            @include sm-screen() {
                &:hover {
                    transform: scale(1);
                }
            }

        }

        .entry-description {
            background: #fff;
            width: 100%;
            z-index: 69;
            transition: all .5s ease;

            h1 {
                font-size: 1.5rem;
                font-weight: 700;
                // line-height: 40px;

                img {
                    height: 30px;
                    margin-left: .5em;
                    transform: translateY(-4px);
                    transition: all .4s ease;

                    &:hover {
                        opacity: .5;
                        transform: none;
                    }
                }
            }

            p {
                font-weight: 300;
            }
        }
    }

    @include sm-screen() {
        .entry-container {
            border-radius: 0;

            .image-wrap {
                width: 100%;
                height: auto;

                .entry-image {
                    transform: none !important;
                    opacity: 1;
                }
            }

            .entry-description {
                width: 100%;
                margin: auto;
                color: $blue;
                background: #fff;
                padding-bottom: 50px;
                transform: none !important;

                p {
                    color: #555;
                }
            }
        }
    }
}
